
body{
	margin : 0 ;
	padding:0;
	font-family: arial;
}

.container,
.container-1
.container-2,
.container-3,
.container-4,
.container-5{
	min-height: 100vh;
}

.container{
	background-color: #3ED4B7;
}
.box{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items :center;
	text-align : center;
	/*	border:1px solid red;*/
	background:url(../img/bg/bg1.png) no-repeat  center center;
	background-size: cover;

}
.box-1{
	background:url(../img/bg/bg2.png) no-repeat  center center;
	min-height: 100vh;
	background-size: cover;
}

.box-1 img{
	margin-top: 60px;
	margin-left: 60px;
}

.box-1 span{
	color:#666;
	font-size: 35px;
	margin-left: 10px;
}
.box-1 .kotak-isi{
	height: 400px;
	width: 600px;
	/*border:1px solid red;*/
	margin-left: 135px;
	margin-top: 100px;
	margin-bottom: auto;
}
.box-1 .kotak-isi h3{
	text-align: center;
	color: #25a66f;
}

.box-1 .kotak-isi p{
	line-height: 30px;
	text-align: justify;
	text-indent: 50px;
}


/* container-2 */


.container-2{
	background-color: white;
	display: flex;
}

.box-pinggir{
	/*border:1px solid black;*/
	min-height: 100vh;
	width: 99px;
	margin-left: 50px;
	
}

.box-pinggir .box-atas,
.box-pinggir .box-tengah,
.box-pinggir .box-bawah{
	width: 99px;
	height: 361px;
}
.box-pinggir .box-atas{
	margin-bottom: 30px;
	/*border:1px solid black;*/
	background-color: #f2f2f2;
	height: 100px;
}
.box-pinggir .box-tengah{
	box-shadow: inset 0 0 4px 4px #f2f2f2;

}
.box-pinggir .box-bawah{
	/*border:1px solid blue;*/
	margin-top: 30px;
	background-color: #f2f2f2;
	height: 100px;
}

.judul{
	width: 100%;
	/*border:1px solid red;*/
	margin-top: 3%;
}
.judul h3{
	text-align: center;
	color: #49c1f9;
	font-size: 35px;
	align-items: center;
}
.judul h3 img{
	text-align: center;
	align-items: center;
	margin-bottom: -40px;
}

.visi-misi{
	width: 100%;
	margin-top: 80px;
}

.visi-misi .p-1,
.visi-misi .p-2{
	width:500px;
	height:auto;
	display: inline-flex;
}

.visi-misi .p-2{
	text-align: right;
	margin:0;
}
.visi-misi .p-2,
.visi-misi .p-1{
	padding-left: 50px;
	margin-right: 0;
	line-height: 30px;
}

.visi-misi .p-1 ul li:first-child,
.visi-misi .p-2 ul li:first-child{
	list-style: none;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}
.visi-misi .p-1 ul li:first-child{
	margin-left: -19px;
}

.visi-misi .p-2 ul li{
	list-style: none;
}
.visi-misi .p-1 ul{
	list-style-image: url('../img/icon/bullet.png');
}


/* end */

/* container-3 */

.container-3{
	/*	border:1px solid red;*/

	min-height: 100vh;
	background:url(../img/bg/bg3.png) no-repeat  center center;
	background-size: cover;
	/*position: absolute;*/
}

.container-3 p{
	color:#666;
	font-size: 35px;
	margin-left: 50px;
	padding-top: 30px;
	position: relative;
	/*	border:1px solid red;*/
	display: block;
}

.container-3 .t-1,
.container-3 .t-2,
.container-3 .t-3,
.container-3 .t-4{
	height:50px;
	display: flex;
	line-height: 20px;
}

.container-3 .t-1{
	margin-left: 490px;
	margin-top:70px;
	width:550px;
}

.container-3 .t-2{
	margin-left: 415px;
	margin-top:55px;
	width:550px;
}

.container-3 .t-3{
	margin-left: 340px;
	width:640px;
	margin-top:40px;
}

.container-3 .t-4{
	margin-left: 265px;
	width:570px;
	margin-top:55px;
}

/* end*/

/* container-4 */


.box-4{
	box-sizing: border-box;
	width:80%;
	height: 100%;
	margin:auto;
	display:grid;
	justify-content: center;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	margin-top:-10px;
}

.container-4 p{
	color:#666;
	font-size: 35px;
	margin-right:50px;
	padding-top: 30px;
	text-align: right;
	display: block;
}


.container-4 .t-1,
.container-4 .t-2,
.container-4 .t-3,
.container-4 .t-4{
	height:200px;
	line-height: 20px;
	width:400px;
	
	padding:10px;
	margin:10px;
	font-size: 12px;

}

.container-4 .t-1,
.container-4 .t-3{
	padding-right:80px;
}

.container-4 .t-2,
.container-4 .t-4{
	padding-left:80px;
	text-align: right;
}

.container-4 .t-1{
	border-top-right-radius: 100px;
	border:4px solid #0684bf;
}
.container-4 .t-2{
	border-top-left-radius: 100px;
	border:4px solid #3ed4b7;
}
.container-4 .t-3{
	border-bottom-right-radius: 100px;
	border:4px solid #f5b317;
}
.container-4 .t-4{
	border-bottom-left-radius: 100px;
	border:4px solid #a3d368;
}

.box-4 .gambar{
	width: 200px;
	margin-left: 437px;
	margin-top: 170px;
	height: 150px;
	/*border:1px solid red;*/
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	background-color: #f2f2f2;
	border-radius: 30px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
}

.box-4 .gambar img{
	width:150px;
	height: 150px;
	box-sizing: border-box;
}
/* end */


/* container-4 */

.container-5{
	/*	border:1px solid red;*/

	min-height: 100vh;
	background:url(../img/bg/bg4.png) no-repeat  center center;
	background-size: cover;
	position: relative;
	/*position: absolute;*/
}

.box-5{
	box-sizing: border-box;
	width:80%;
	height: 100%;
	margin:auto;
	display:grid;
	justify-content: center;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	margin-top:-10px;
}

.container-5 p{
	color: #19705f;
	font-size: 35px;
	margin-left:200px;
	padding-top: 150px;
	text-align: left;
	position: absolute;
	font-weight: bold;
}


.container-5 .t-1,
.container-5 .t-2,
.container-5 .t-3,
.container-5 .t-4{
	height:200px;
	width:200px;
	margin:300px 80px 0 80px;
	border:4px solid #fff;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
	
}
.box-5 div{
	position: relative;
	float: left;
	outline-style: none;
}

.box-5 span{
	display: block;
	width: 200px;
	height: 200px;
	background-color: rgba(200,200,200,.5);
	position:absolute;
	top:0;
	text-align: center;
	line-height: 200px;
	font-weight: bold;
	color:#fff;
	text-shadow: 1px 1px 1px #000;
	opacity: 0;
	transform: scale(0) rotate(0);
	transition: .3s;
}

.box-5 div:hover span{
	opacity:1;
	transform: scale(1) rotate(360deg);
}

.text-3{
	width:200px;
	margin:5px 80px 0 80px;
	border:4px solid #fff;
	text-align: center;
	font-family:Times New Norman; 
	color: #000;
	text-shadow: 1px 1px 1px white ;

}
/* end */



/* container -6 */
.container-6{
	background-color: #3ED4B7;
	color:#fff;
}

.box-6{
	min-height: 100vh;
	background:url(../img/bg/bg5.png) no-repeat  center center;
	background-size: cover;
	position: relative;
}

.box-6 .t-1,
.box-6 .t-2{
	text-align: right;
	position: relative;
}

.box-6 .t-1{
	padding-top: 40px;
	font-weight: bold;
	margin-right: 25px;
}


.box-6 .t-2{
	font-size: 50px;
	padding-top: 10px;
	letter-spacing: 20px;
}

.box-6 .t-3{
	margin-top: 180px;
	text-align: left;
	line-height: 30px;
	/*	border:4px solid #000;*/
	position: relative;
	margin-left: 95px;
}

.box-6 .t-3 img{
	height: 150px;
	width: 150px;

}

.box-6 .t-3 li{
	list-style: none;
}
.box-6 .t-4 a{
	display: inline-block;
	margin-top:5px;	
}

.box-6 .t-4 a:first-child{
	margin-left: 95px;
}




/* end */